.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.todo-list-container {
    text-align: center;
}

.btn {
    margin-left: 2px;
    padding: 5px 8px;
    color: #ff4081;
    border: 1px solid #ff4081;
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
}

button:active {
    box-shadow: 0 2px #ff4081;
    transform: translateY(1px);
}